<!DOCTYPE html>
<html lang="en">
	<font color=#008000/>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ghost website</title>
    <link rel="stylesheet" href="CSS.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  
  <body>
    <main>
        <center>
		<h1>naam</h1>
	<font color=#FF0000/>
	     <h1>rood word</h1>
		 </center>
		
    </main>
	<script src="index.js"></script>
  </body>
</html>